doctype html
html
  head
    title= titel
    style
      include ../styles/body.css
      include ../styles/helper.css
      include ../styles/header.css
      include ../styles/content.css
      include ../styles/footer.css
  body
    include header
    include content
    include footer
