div.footer
  div.footer-section
    h4.text-center Allgemein
    ul
      li: a(href='http://www.satisfeet.me/') Startseite
      li: a(href='http://www.satisfeet.me/products') Produkte
  div.footer-section
    h4.text-center Unternehmen
    ul
      li: a(href='http://www.satisfeet.me/about#credits') Danksagungen
  div.footer-section
    h4.text-center Rechtliches
    ul
      li: a(href='http://www.satisfeet.me/legal#imprint') Impressum
      li: a(href='http://www.satisfeet.me/legal#privacy') Datenschutz
      li: a(href='http://www.satisfeet.me/legal#liability') Haftungsauschluss
  div.footer-section
    h4.text-center Kontakt
    ul
      li: a(href='mailto:info@satisfeet.me') Email
      li: a(href='http://twitter.com/satisfeetsocial') Twitter
      li: a(href='https://www.facebook.com/satisfeetofficial') Facebook
