include ../mixins/progress

section#order-goodbye
  div.row
    div.col-xs-8.col-xs-offset-2
      h4.text-center Vielen Dank
      +progress(100)
  div.row
    div.col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-3
      p.text-justify
        | Ihre Bestellung ist bei uns eingegangen und wird nach Geldeingang sofort
        | bearbeitet. Bis zum nächsten Mal können Sie noch festlegen, ob wir Ihre
        | Kundendaten für den nächsten Einkauf in Ihrem Browser speichern sollen.
      form.form-horizontal(role='form')
        fieldset
          div.row
            div.col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-3
              div.form-group
                div.checkbox
                  label
                    input(type='checkbox')
                    | Kundendaten in Browser speichern
          div.row
            div.col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-4
              button.btn.btn-primary.btn-block Fertig
