section#order-list
  - var pricing = (order && order.pricing) || {};
  - var items = (order && order.items) || [];
  div.row
    div.col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
      ul.list-group
  div.row
    div.col-xs-8.col-sm-7.col-sm-offset-1.col-md-6.col-md-offset-2
      p.lead.text-left
        | Gesamt: 
        span#total #{pricing.retail}
        | €
      p.text-muted.text-left
        | Inkl. MwSt., zzgl. Versandkosten
    div.col-xs-2.col-xs-offset-2.col-sm-3.col-sm-offset-0.col-md-2
      if items.length
        a.btn.btn-md.btn-primary.pull-right(href='/order/payment') Bestellen
