article#condition
  h4.text-center Allgemeine Geschäftsbedingungen
  h5.text-center Vertragsabschluss
  p.text-justify
    | Diese Seite erlaubt es Ihnen, dem Kunden, durch die Auswahl der
    | angebotenen Produkten, in haushaltsüblichen Abgabemengen, ein Angebot,
    | an uns, den Betreiber dieser Seite, zu stellen. Das von Ihnen erstellte
    | Angebot wird mit der vollständigen Ausführung des Bestellvorgangs teil
    | eines Kaufvertrags zwischen Ihnen, dem Kunden und uns, dem Betreiber,
    | welches mit dem Versand einer E-Mail offiziell abgeschlossen und von uns
    | bestätigt wurde.
  h5.text-center Widerrufsrecht
  p.text-justify
    | Sie haben die Möglichkeit innerhalb von 14 Tagen ohne Angabe eines
    | Grundes von Ihrem Rückgaberecht gebrauch zu machen. Bitte kontaktieren
    | Sie uns in diesem Fall für genauere Einzelheiten. Die Versandkosten
    | haben Sie zu tragen, es sei den es wurde ein Fehler auf unserer Seite
    | gemacht oder die Zwischensumme der Bestellung überstieg 40€. Des Weiteren
    | sollten Sie zur Kenntnis nehmen, dass wir nur unbenutzte Produkte wieder
    | mit voller Preiserstattung zurücknehmen können. Sollten Sie ein Produkt
    | bereits verwendet haben, so vereinbaren wir eine dem Sachverhalt
    | entsprechende Entschädigung.
  h5.text-center Preise
  p.text-justify
    | Alle Preisangaben enthalten die jeweils anwendbare Mehrwertsteuer. Sollte
    | es aufgrund technischer Probleme zu Fehlern bei der Preisgestaltung
    | kommen, so werden wir Sie über diese Fehler informieren und um
    | Bestätigung des korrekten Preises bitten.
  h5.text-center Zahlung
  p.text-justify
    | Der Kunde hat die in Rechnung gestellte Ware per Überweisung, an die in
    | der Bestellbestätigungs-E-Mail angegebenen Kontodaten, innerhalb fünf
    | Werktage zu bezahlen. Zur Identifikation bitten wir den Kunden den Namen
    | und die Rechnungsnummer als Verwendungszweck bei der Überweisung
    | anzugeben. Bei Geldeingang verpacken wir für Sie das Produkt und
    | informieren Sie über den Versandstatus.
  h5.text-center Lieferung
  p.text-justify
    | Die Lieferung erfolgt an die von Ihnen angegebene Lieferaddresse, mit der
    | von Ihnen ausgewählten Versandoption. Die Kosten der Lieferung werden
    | im Bestellvorgang für Sie aufgeführt. Lieferungen sind aktuell nur
    | innerhalb Deutschlands möglich.
  h5.text-center Gewährleistung
  p.text-justify
    | Die Gewährleistung richtet sich nach den geltenden gesetzlichen
    | Bestimmungen. Es greift keine Gewährleistung bezüglich eines
    | unsachgemäßigten Gebrauches unsere Produkte.
  h5.text-center Haftungsauschluss
  p.text-justify
    | Die Haftung unserer angebotenen Leistungen ist ausgeschlossen, sofern sie
    | nicht auf grobe fahrlässige Handlung unsererseits zurückzuführen ist.
