article#imprint
  h4.text-center Impressum
  p.text-center
    | Angaben gemäß § 5 Telemediengesetz:
    br
    | Verantwortlich für den Inhalt nach § 55 Abs. 2 RStv:
  address.text-center
    | Bodo Kaiser
    br
    | Geiserichstr. 3, 12105 Berlin
    br
    | Umsatzsteuer-ID: DE291325845
    br
    | Mobil:
    a(href='tel:+491622635326') +49 (0) 162 2635 326
    br
    | Email:
    a(href='mailto:info@satisfeet.me') info@satisfeet.me
