article#liability
  h4.text-center Haftungsausschluss
  p.text-justify
    | Trotz sorgfältiger Prüfung der Inhalte können wir keine rechtliche
    | Korrektheit gewährleisten. Sollte Ihnen einen inhaltlicher
    | Rechtsverstoß auffallen, bitte ich Sie dies mitzuteillen.
    | Der betreffende Teil wird dann umgehend entfernt.
  p.text-justify
    | Wir haften nicht für den Inhalt auf verlinkter Inhalte. Sollte Ihnen
    | trotzdem ein Rechtsverstoß unter einem betreffenden Link auffallen,
    | so ist es möglich diesen Link zu entfernen. Für weitere Schritte
    | melden Sie sich bitte bei dem Verantwortlichen für den Inhalt hinter
    | dem Link.
  p.text-justify
    | Die auf unserer Webseite verwendetetn Marken- und Warenzeichen
    | unterliegen uneingeschränkt den Bestimmungen jeweils gültigen
    | Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen
    | Eigentümer.
  p.text-justify
    | Sollten Ihnen andere, nicht genannte Rechtsverstöße auf dieser Seite
    | auffallen, so bitte ich Sie, diese unverzüglich dem Betreiber diese
    | Homepage mitzuteilen und eine Frist von einen Monat zur Änderung des
    | zu Beanstandenden bereit zu stellen.
