doctype html
html
  head
    block head
      // TODO: move this to locals when possible...
      title satisfeet: Endlich nachhaltige Socken
      block meta
      block link
  body
    block body
      block main
      block script
