footer.footer.footer-default.footer-static-bottom
  div.container
    div.row
      div.col-xs-4.col-sm-3.col-md-3.col-lg-3
        h4.text-center Allgemein
        ul.list-squared.list-sm
          li: a(href='/') Startseite
          li: a(href='/products') Produkte
      div.col-xs-4.col-sm-3.col-md-3.col-lg-3.hidden-xs
        h4.text-center Unternehmen
        ul.list-squared.list-sm
          li: a(href='/about#release') Entstehung
          li: a(href='/about#history') Meilensteine
          li: a(href='/about#credits') Danksagung
      div.col-xs-4.col-sm-3.col-md-3.col-lg-3
        h4.text-center Rechtliches
        ul.list-squared.list-sm
          li: a(href='/legal#imprint') Impressum
          li: a(href='/legal#condition') Geschäftsbedingungen
          li: a(href='/legal#privacy') Datenschutz
          li: a(href='/legal#liability') Haftungsauschluss
      div.col-xs-4.col-sm-3.col-md-3.col-lg-3
        h4.text-center Kontakt
        ul.list-squared.list-sm
          li: a(href='mailto:info@satisfeet.me') Email
          li: a(href='http://twitter.com/satisfeetsocial') Twitter
          li: a(href='https://www.facebook.com/satisfeetofficial') Facebook

