header.navbar.navbar-default.navbar-fixed-top(role='navigation')
  div.container-fluid
    div.navbar-header.hidden-xs
      a.navbar-brand(href='/')= title
    div.navbar-collapse.collapse
      a.navbar-btn.navbar-right.btn.btn-lg.btn-primary(href='/order')
        span.badge
        |  Warenkorb
