article#credits
  h4.text-center Danksagung
  p.text-justify
    | Vielen Dank an jeden der mich bei satisfeet, sei es durch Motivation,
    | Kritik, Ratschläge oder Ähnliches unterstützt. Ohne Euch wäre satisfeet
    | nicht möglich gewesen. Besonderer Dank geht außerdem an die ersten beiden
    | Sockenbesteller und an die node.js Gemeinschaft für das Bereitsstellen
    | vieler, guter Werkzeuge, mit der ich diese Seite realisieren konnte.
  p.text-justify
    | Des Weiteren vielen Dank an folgende Unternehmen für entgegenkommende
    | Leistungen und Zusammenarbeit:
    ul
      li
        a(href='http://www.kamineundwein.de') Kamine und Wein
        p Für die Bereitstellung eines Kamins für eine gemütliche Szeneaufnahme.
