article#history
  h4.text-center Meilensteine
  p.text-justify
    | Im Folgenden halte ich die Meilensteine fest, die sich auf den Weg von
    | satisfeet ergeben haben. Die Ereignisse setzten nahtlos an der
    | Entstehungsgeschichte an.
  h5.text-center Lieferanten Suche <small>08.12.2013</small>
  p.text-justify
    | Erster Schritt wenn man etwas verkaufen möchte ist etwas zu verkaufen
    | haben. Ich benötigte einen zuverlässigen Sockenproduzenten, der nicht
    | zu groß ist, sodass man selbst als kleines Unternehmen noch einkaufen
    | konnte. Meine Suche endete bei <a href="http://strumpfdirks.de">Strumpf
    | Dirks</a>, einem Familienunternehmen, welches seit 1964 Strümpfe in
    | Deutschland produziert.
  h5.text-center Socken Wahl <small>18.12.2013</small>
  p.text-justify
    | Im nächsten Schritt habe ich verschiedene Artikel von dem oben genannten
    | Sortiment erworben und Umfragen durchgeführt, welche Socken am meisten
    | Zuspruch fanden. Es kristallisierten sich die drei Alltagssocken heraus,
    | hauptsächlich wegen des Preises, allerdings gab es auch eine Minderheit,
    | die sich für die teuren Survival Socken interessiert haben. Ich nahm
    | beide ins Sortiment rein um auch einen Kontrast bieten zu können.
  h5.text-center Erste Direktverkäufe <small>20.12.2013</small>
  p.text-justify
    | Zu meiner persönlichen Enttäuschung trat der erwartete viralle Effekt,
    | des Sockenkaufs, den ich in meinem Bekanntenkreis erwartet habe nicht
    | ein. Viele weigerten sich gar ein einfaches Facebook like zu setzen.
    | Um so glücklicher war ich über die ersten beiden Direktverkäufe, die
    | mich motiviert haben weiter zu machen. Vielen Dank an diejenigen
    | Personen. ;)
  h5.text-center Onlineshop im Bau <small>06.02.2014</small>
  p.text-justify
    | Um im nächsten Schritt weiter Socken zu verkaufen benötigte es einen
    | richtigen Onlineshops. Da ich selber Webentwickler bin, kam mir eine
    | fertige Lösung alá umfunktionierte Blog-Software nicht in Frage.
    | Stattdessen entwickelte ich einen eigenen Online Shop mit node.js.
    | Diese Entscheidung hat mich zwei Monate gekostet und war für das Geschäft
    | an sich nicht unbedingt förderlich. Trotzdem bin ich äußerst stolz auf
    | das Endergebnis. Auch hat mir die Erfahrung mit dem Onlineshop gezeigt,
    | dass ich die Tätigkeiten als Webentwickler nicht einstellen möchte,
    | sondern weiter erhalten will.
  h5.text-center Erste Bestellungen <small>08.02.2014</small>
  p.text-justify
    | Zwei Freunde, die sich bisher zurückgehalten haben, um mich zum
    | Fertigstellen des Online Shops zu motivieren, konnten nun endlich ihre
    | Sehnsucht befrieden. Die ersten beiden Bestellungen über den Online
    | Shop gingen ein und wurden natürlich schleunigst bearbeitet. Die
    | Einnahmen davon sind zwar nur ein Tropfen auf den heißen Stein, aber
    | die Rückmeldung über Online Shop und Lieferung haben mich wieder
    | motiviert weiter zu machen.
  h5.text-center Die Promo Phase <small>24.02.2014</small>
  p.text-justify
    | Das Grundstrukturen für einen Online Handel scheinen gesetzt zu sein.
    | Um nun weiter zu machen geht es in die Promo Phase. Hiervor habe ich mich
    | lange gedrückt, da ich in diesem Gebiet gar keine Erfahrung besitze. Was
    | klassiches internetbasiertes Marketing an geht bin ich kritisch. Die
    | E-Commerce Seiten sind die wohl am kritischsten optimierten. Über Google
    | Kunden zu erwarten ist eine Sackgasse, selbst wenn ich "satisfeet"
    | eingebe erhalte ich hinweise auf Übersetzungen von "satisfied"... Andere
    | Marketingansätze, wie das Bewerben auf Blogs oder hinterlassen von
    | Kommentaren, sind ebenfalls schwierig, da ich keine eng definierte
    | Zielgruppe habe. Ich werde in den kommenden Wochen versuchen mich für
    | klassisches Direktmarketing zu überwinden. Heißt: Durch die Gegend laufen
    | und Werbung machen. Mal schauen wie es weitergehen wird...

