article#release
  h4.text-center Entstehung
  p.text-justify
    | Die bewusste Idee einen Online Handel zu errichten kam mir bei dem
    | Verkauf alter Computerteile. Mir gefiel die kurze Dauer eines
    | Geschäftsvorgangs sowie das Verpacken. Im Vergleich zur
    | Produktentwicklung, die ich zuvor versucht habe, kam man wesentlich
    | schneller zu Ergebnissen und hatte das Gefühl eine Nachfrage direkt zu
    | befrieden. Bei der Frage was man schließlich Verkaufen könnte,
    | war die Lösung, schnell klar: Ich benötigte ein Gute, welches
    | günstig im Großeinkauf war, welches jeder Mensch brauch und welches man
    | sich selber oft drüber aufgeregt hat. So kam ich zu den Socken, da ich
    | mein Leben lang günstige Socken hatte, die schnell kaputt gingen
    | beziehungsweise einfach unangenehm zu tragen waren. Seit ich die Socken
    | von satisfeet ausprobiert habe, lebe ich ein ganz anderes Leben, welches
    | ich mit Anderen teilen möchte und das Beste daran ist, dass wir ein
    | Zeichen gegen kompromisslose Gewinnmaximierung durch Kinderarbeit und
    | Auslagerung der Produktion. Den satisfeet Socken werden von einem
    | Famillienbetrieb in Deutschland gefertigt!
