section#main
  div.row
    div.col-xs-12
      img.img-responsive(src='/images/brand/large.svg')
  div.row
    div.col-xs-8.col-xs-offset-2.col-md-8.col-md-offset-2
      p.lead.text-center
        | Genug von unbequemen, kaputten Socken?
        br
        | Keine Lust Geld für Socken auszugeben, bei denen man weiß, dass diese
        | wenig Tragekomfort bieten und vermutlich bald weggeworfen werden?
        br
        | Dann können wir Ihnen bei satisfeet helfen!
        br
        | Wir bieten Ihnen hochwertige, bequeme Socken aus Deutschland an.
        br
        | Kein unnötiger Verschleiß, kein unnötiges Wegwerfen, kein Transport
        | um die halbe Welt.
  div.row
    div.col-xs-6.col-xs-offset-3.col-md-4.col-md-offset-4
      a.btn.btn-lg.btn-primary.btn-block(href='/products') Zu den Socken
