section#problems
    div.row
      div.col-md-12
        div.page-header
          h2.text-center Probleme
    div.row
      div.col-md-4
        h3.text-center Löcher
        div.thumbnail
          img.img-rounded.img-responsive(src='/images/graphics/broken.svg')
        p.text-justify
          | Häufig haben wir unsere Lieblingssocken, welche wir gerne und
          | oft anziehen. Leider gehen unsere Lieblingssocken schnell
          | kaputt, sodass wir gezwungen sind nach einem anderen
          | Sockenpaar zu suchen, welches keine Löcher hat.
      div.col-md-4
        h3.text-center Unpassend
        div.thumbnail
          img.img-rounded.img-responsive(src='/images/graphics/missmatch.svg')
        p.text-justify
          | So machen wir uns als nächstes auf die Suche nach einem neuen
          | Sockenpaar und werden mit dem nöchsten Problem konfrontiert:
          | Wir haben arge Probleme zusammengehörige Socken zu finden! Von
          | der Ferne sehen die meist dunklen, einfarbigen Socken noch
          | gleich auf. Im Detail ist aber doch die Aufschrift, der Stoff
          | oder der Schnitt jeweils anders. Unsere Suche geht nun, solange
          | bis sich ein passendes Paar findet, weiter.
      div.col-md-4
        h3.text-center Zuwenig
        div.thumbnail
          img.img-rounded.img-responsive(src='/images/graphics/toosmall.svg')
        p.text-justify
          | Nach langen Suchen durch weitere unpassende oder durchlöcherte
          | Socken habe wir schließlich ein brauchbares Paar gefunden. Wir
          | sind erlöst aber wir wissen genau: Was heute gut gegangen ist,
          | kann morgen schon wieder zum Problem führen und uns in missliche
          | Situationen zwingen. Ab dem heutigen Tag ist Schluss mit diesem
          | eingrenzenden Phänomen!
