section#solution
  div.row
    div.col-md-12
      div.page-header
        h2.text-center Gemeinschaft
  div.row
    div.col-sm-8.col-md-8.col-sm-offset-2.col-md-offset-2
      h3.text-center Dabei sein
      p.text-center
        | Werde teil unserer Bewegung.... Werde teil unserer Bewegung....
        | Werde teil unserer Bewegung.... Werde teil unserer Bewegung....
        | Werde teil unserer Bewegung.... Werde teil unserer Bewegung....
  div.row
    div.col-sm-4.col-md-2.col-md-offset-1
      a.thumbnail(href='http://twitter.com/satisfeetsocial')
        img.img-responsive(src='/images/icons/twitter.svg')
    div.col-sm-4.col-md-2.col-md-offset-2
      a.thumbnail(href='mailto:info@satisfeet.me')
        img.img-responsive(src='/images/icons/email.svg')
    div.col-sm-4.col-md-2.col-md-offset-3
      a.thumbnail(href='http://www.facebook.com/satisfeetofficial')
        img.img-responsive(src='/images/icons/facebook.svg')
